<h1>Bonjour ! veuillez confirmer votre adresse email</h1>

<p>
    Veuillez comfirmer votre adresse email en clickant sur ce lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>


