{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container containerinscription">
        <div class="row">
            <h1>Inscription</h1>
            {{ form_start(form) }}    
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}
