{% extends 'base.html.twig' %}
{% block body %}
<div class="container ">
<div class="d-lg-flex ">
<div class="row descriptionArticle">
  

  <h2>{{articles.titrearticlea}}</h2>
  {{articles.textearticlea|raw}}
  
  

</div>
</div>
</div>
{% endblock %}